<!--Header-->
<div>
    <div class="row" style="color: #4D4D4D;font-size: 15px;padding-bottom: 20px">
        <div class="col-md-7">
            <img src="https://www.tecazuay.edu.ec/wp-content/uploads/2023/07/LOGO-RECTANGULAR_SIN-FONDO-2048x626.png" alt="Logo TECAZUAY" width="100%" class="img-responsive" style="margin:20px 0px 0px">
        </div>
        <div class="col-md-5">
            <h1 style="margin:15px 0px 0px;font-size: 40px;">Spark y Dataframe</h1>
            <div style="text-align:left;margin-top: 5px;"></div>
        </div>
    </div>
    <div class="row" style="background: #FCB517;padding: 10px 20px;">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            </div>
        </div>
        <div style="text-align:right;">Carrera: TECNOLOGÍA SUPERIOR EN BIG DATA <span style="margin-left: 30px;"></span></div>
         <div style="text-align:right;">Estudiante:   <span style="margin-left: 30px;"></span></div>
          <div style="text-align:right;">Fecha:  <span style="margin-left: 30px;"></span></div>
        </div>
    </div>
</div>
<!--/Header-->

### Data personal

In [1]:
import findspark
findspark.init()

import pandas as pd
import pyspark

C:\Users\59399\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
spark

**1. Crea un DataFrame para la entidad "productos" con las columnas: idProducto (entero), nombre (cadena) y idCategoria (entero).**

+-----------+------------------+---------+
|id_producto|            nombre|categoria|
+-----------+------------------+---------+
|         31|        fideo laso|       10|
|         32|        fideo codo|       10|
|         33|    fideo macarron|       10|
|         34|        Arroz Roma|       11|
|         35|        Arroz Ribe|       11|
|         36|    Arroz integral|       11|
|         37|Sardinas enlatadas|       12|
|         38|     Atún enlatado|       12|
|         39|Duraznos enlatados|       12|
|         40|    Maíz enlatados|       12|
+-----------+------------------+---------+

**2.Crea un DataFrame para la entidad "categorias" con las columnas: idCategoria (entero) y nombre (cadena).**

+------------+-------------------+
|id_Categoria|             nombre|
+------------+-------------------+
|          10|             Pastas|
|          11|              Arroz|
|          12|Productos enlatados|
+------------+-------------------+

**3.Crea un DataFrame para la entidad "ventas" con las columnas: id_venta (entero), id_producto (entero), cantidad (entero) y fecha (cadena).**

In [9]:
vendf = spark.createDataFrame(ventas, ['id_venta', 'id_producto', 'cantidad', 'fecha'])
vendf.show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|10-06-2023|
|     311|         31|       1|11-06-2023|
|     320|         32|       3|12-06-2023|
|     321|         32|       2|13-06-2023|
|     330|         33|       4|14-06-2023|
|     331|         33|       1|15-06-2023|
|     340|         34|       2|16-06-2023|
|     341|         34|       4|17-06-2023|
|     350|         35|       2|18-06-2023|
|     351|         35|       5|19-06-2023|
|     360|         36|       4|20-06-2023|
|     361|         36|       2|21-06-2023|
|     370|         37|       1|22-06-2023|
|     371|         37|       3|23-06-2023|
|     380|         38|       1|24-06-2023|
|     381|         38|       2|25-06-2023|
|     390|         39|       3|26-06-2023|
|     391|         39|       6|27-06-2023|
|     400|         40|       5|28-06-2023|
|     401|         40|       4|29-06-2023|
+--------+-----------+--------+----------+

Guardar en formato csv

### Data Grupal

Leer los archivos csv

### Categoria

In [15]:
categoriadf= spark.read.format("csv").option("header", "true").option("delimiter", ";").load("categorias_nombre.csv/*.csv")

In [16]:
categoriadf.show(27)

+------------+-------------------+
|id_Categoria|             nombre|
+------------+-------------------+
|          10|             Pastas|
|          11|              Arroz|
|          12|Productos enlatados|
+------------+-------------------+

### Ventas

In [18]:
ventasdf.show(27)

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|10-06-2023|
|     311|         31|       1|11-06-2023|
|     320|         32|       3|12-06-2023|
|     321|         32|       2|13-06-2023|
|     330|         33|       4|14-06-2023|
|     331|         33|       1|15-06-2023|
|     340|         34|       2|16-06-2023|
|     341|         34|       4|17-06-2023|
|     350|         35|       2|18-06-2023|
|     351|         35|       5|19-06-2023|
|     360|         36|       4|20-06-2023|
|     361|         36|       2|21-06-2023|
|     370|         37|       1|22-06-2023|
|     371|         37|       3|23-06-2023|
|     380|         38|       1|24-06-2023|
|     381|         38|       2|25-06-2023|
|     390|         39|       3|26-06-2023|
|     391|         39|       6|27-06-2023|
|     400|         40|       5|28-06-2023|
|     401|         40|       4|29-06-2023|
+--------+-----------+--------+----------+

### Productos

In [20]:
productosdf.show(27)

+-----------+------------------+---------+
|id_producto|            nombre|categoria|
+-----------+------------------+---------+
|         31|        fideo laso|       10|
|         32|        fideo codo|       10|
|         33|    fideo macarron|       10|
|         34|        Arroz Roma|       11|
|         35|        Arroz Ribe|       11|
|         36|    Arroz integral|       11|
|         37|Sardinas enlatadas|       12|
|         38|     Atún enlatado|       12|
|         39|Duraznos enlatados|       12|
|         40|    Maíz enlatados|       12|
+-----------+------------------+---------+

### Operaciones

In [21]:
#Calcula el número total de registros en cada DataFrame utilizando el método count().

3

20

10

In [24]:
#Filtra "ventas_df" para mostrar solo las ventas donde la cantidad sea mayor que 10.

+--------+-----------+--------+-----+
|id_venta|id_producto|cantidad|fecha|
+--------+-----------+--------+-----+
+--------+-----------+--------+-----+

In [25]:
#Ordena "productos_df" en orden ascendente según el nombre de producto.

+-----------+------------------+---------+
|id_producto|            nombre|categoria|
+-----------+------------------+---------+
|         35|        Arroz Ribe|       11|
|         34|        Arroz Roma|       11|
|         36|    Arroz integral|       11|
|         38|     Atún enlatado|       12|
|         39|Duraznos enlatados|       12|
|         40|    Maíz enlatados|       12|
|         37|Sardinas enlatadas|       12|
|         32|        fideo codo|       10|
|         31|        fideo laso|       10|
|         33|    fideo macarron|       10|
+-----------+------------------+---------+

In [26]:
#Calcula la suma total de la cantidad vendida en "ventas_df" utilizando la función sum().

+-------------+
|sum(cantidad)|
+-------------+
|         57.0|
+-------------+

### Joins entre Dataframes

In [27]:
#Realiza un inner join entre "ventas_df" y "productos_df" utilizando la columna "idProducto" como clave de join.
ventas_productos_df = productosdf.join(ventasdf, productosdf["id_Producto"] == ventasdf["id_Producto"], "outer").show()

+-----------+------------------+---------+--------+-----------+--------+----------+
|id_producto|            nombre|categoria|id_venta|id_producto|cantidad|     fecha|
+-----------+------------------+---------+--------+-----------+--------+----------+
|         34|        Arroz Roma|       11|     340|         34|       2|16-06-2023|
|         34|        Arroz Roma|       11|     341|         34|       4|17-06-2023|
|         35|        Arroz Ribe|       11|     350|         35|       2|18-06-2023|
|         35|        Arroz Ribe|       11|     351|         35|       5|19-06-2023|
|         31|        fideo laso|       10|     310|         31|       2|10-06-2023|
|         31|        fideo laso|       10|     311|         31|       1|11-06-2023|
|         38|     Atún enlatado|       12|     380|         38|       1|24-06-2023|
|         38|     Atún enlatado|       12|     381|         38|       2|25-06-2023|
|         40|    Maíz enlatados|       12|     400|         40|       5|28-06-2023|
|         40|    Maíz enlatados|       12|     401|         40|       4|29-06-2023|
|         33|    fideo macarron|       10|     330|         33|       4|14-06-2023|
|         33|    fideo macarron|       10|     331|         33|       1|15-06-2023|
|         32|        fideo codo|       10|     320|         32|       3|12-06-2023|
|         32|        fideo codo|       10|     321|         32|       2|13-06-2023|
|         36|    Arroz integral|       11|     360|         36|       4|20-06-2023|
|         36|    Arroz integral|       11|     361|         36|       2|21-06-2023|
|         37|Sardinas enlatadas|       12|     370|         37|       1|22-06-2023|
|         37|Sardinas enlatadas|       12|     371|         37|       3|23-06-2023|
|         39|Duraznos enlatados|       12|     390|         39|       3|26-06-2023|
|         39|Duraznos enlatados|       12|     391|         39|       6|27-06-2023|
+-----------+------------------+---------+--------+-----------+--------+----------+

In [43]:
#Realiza un inner join entre "productos_df" y "categorias_df" utilizando la columna "idCategoria" como clave de join.

+------------+-------------------+-----------+------------------+---------+--------+
|id_Categoria|             nombre|id_producto|            nombre|categoria|id_venta|
+------------+-------------------+-----------+------------------+---------+--------+
|          11|              Arroz|         34|        Arroz Roma|       11|    null|
|          11|              Arroz|         35|        Arroz Ribe|       11|    null|
|          11|              Arroz|         36|    Arroz integral|       11|    null|
|          10|             Pastas|         31|        fideo laso|       10|    null|
|          10|             Pastas|         32|        fideo codo|       10|    null|
|          10|             Pastas|         33|    fideo macarron|       10|    null|
|          12|Productos enlatados|         37|Sardinas enlatadas|       12|    null|
|          12|Productos enlatados|         38|     Atún enlatado|       12|    null|
|          12|Productos enlatados|         39|Duraznos enlatados|       12|    null|
|          12|Productos enlatados|         40|    Maíz enlatados|       12|    null|
+------------+-------------------+-----------+------------------+---------+--------+

In [29]:
#Calcula el máximo y mínimo de la cantidad vendida en "ventas_df" utilizando las funciones max() y min(), respectivamente.

'6'

'1'

In [31]:
#Calcula el promedio de la cantidad vendida en "ventas_df" utilizando la función avg().

2.85

In [32]:
#Agrupa "ventas_df" por el idProducto y calcula la suma de la cantidad vendida en cada grupo utilizando el método groupBy() y la función sum().

+-----------+-------------+
|id_Producto|sum(cantidad)|
+-----------+-------------+
|         34|          6.0|
|         35|          7.0|
|         31|          3.0|
|         38|          3.0|
|         40|          9.0|
|         33|          5.0|
|         32|          5.0|
|         36|          6.0|
|         37|          4.0|
|         39|          9.0|
+-----------+-------------+

In [33]:
#Filtra "ventas_df" para mostrar solo las ventas donde la cantidad sea mayor que 5 y la fecha sea posterior a "2023-01-15".

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     391|         39|       6|27-06-2023|
+--------+-----------+--------+----------+

In [34]:
#Filtra "productos_df" para mostrar solo los productos de la categoría 3.

+-----------+------+---------+
|id_producto|nombre|categoria|
+-----------+------+---------+
+-----------+------+---------+

In [35]:
#Agrega una nueva columna llamada "total" a "ventas_df" que sea el resultado de multiplicar la cantidad por 2.
ventasdf_con_total = ventasdf.withColumn("total", col("cantidad") * 2)
ventasdf_con_total.show()

+--------+-----------+--------+----------+-----+
|id_venta|id_producto|cantidad|     fecha|total|
+--------+-----------+--------+----------+-----+
|     310|         31|       2|10-06-2023|  4.0|
|     311|         31|       1|11-06-2023|  2.0|
|     320|         32|       3|12-06-2023|  6.0|
|     321|         32|       2|13-06-2023|  4.0|
|     330|         33|       4|14-06-2023|  8.0|
|     331|         33|       1|15-06-2023|  2.0|
|     340|         34|       2|16-06-2023|  4.0|
|     341|         34|       4|17-06-2023|  8.0|
|     350|         35|       2|18-06-2023|  4.0|
|     351|         35|       5|19-06-2023| 10.0|
|     360|         36|       4|20-06-2023|  8.0|
|     361|         36|       2|21-06-2023|  4.0|
|     370|         37|       1|22-06-2023|  2.0|
|     371|         37|       3|23-06-2023|  6.0|
|     380|         38|       1|24-06-2023|  2.0|
|     381|         38|       2|25-06-2023|  4.0|
|     390|         39|       3|26-06-2023|  6.0|
|     391|         39|       6|27-06-2023| 12.0|
|     400|         40|       5|28-06-2023| 10.0|
|     401|         40|       4|29-06-2023|  8.0|
+--------+-----------+--------+----------+-----+

In [36]:
#Convierte la columna "fecha" de "ventas_df" al formato de fecha utilizando la función to_date().
ventasdf_con_fecha = ventasdf.withColumn("fecha", to_date(col("fecha")))
ventasdf_con_fecha.show()

+--------+-----------+--------+-----+
|id_venta|id_producto|cantidad|fecha|
+--------+-----------+--------+-----+
|     310|         31|       2| null|
|     311|         31|       1| null|
|     320|         32|       3| null|
|     321|         32|       2| null|
|     330|         33|       4| null|
|     331|         33|       1| null|
|     340|         34|       2| null|
|     341|         34|       4| null|
|     350|         35|       2| null|
|     351|         35|       5| null|
|     360|         36|       4| null|
|     361|         36|       2| null|
|     370|         37|       1| null|
|     371|         37|       3| null|
|     380|         38|       1| null|
|     381|         38|       2| null|
|     390|         39|       3| null|
|     391|         39|       6| null|
|     400|         40|       5| null|
|     401|         40|       4| null|
+--------+-----------+--------+-----+

### Consultas SQL

In [37]:
#Registra los DataFrames "ventas_df", "productos_df" y "categorias_df" como tablas temporales utilizando el método createOrReplaceTempView().
ventasdf.createOrReplaceTempView("ventas")
productosdf.createOrReplaceTempView("productos")
categoriadf.createOrReplaceTempView("categorias")

In [38]:
spark.sql("SELECT * FROM ventas").show()
spark.sql("SELECT * FROM productos").show()
spark.sql("SELECT * FROM categorias").show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|10-06-2023|
|     311|         31|       1|11-06-2023|
|     320|         32|       3|12-06-2023|
|     321|         32|       2|13-06-2023|
|     330|         33|       4|14-06-2023|
|     331|         33|       1|15-06-2023|
|     340|         34|       2|16-06-2023|
|     341|         34|       4|17-06-2023|
|     350|         35|       2|18-06-2023|
|     351|         35|       5|19-06-2023|
|     360|         36|       4|20-06-2023|
|     361|         36|       2|21-06-2023|
|     370|         37|       1|22-06-2023|
|     371|         37|       3|23-06-2023|
|     380|         38|       1|24-06-2023|
|     381|         38|       2|25-06-2023|
|     390|         39|       3|26-06-2023|
|     391|         39|       6|27-06-2023|
|     400|         40|       5|28-06-2023|
|     401|         40|       4|29-06-2023|
+--------+-----------+--------+----------+

+-----------+------------------+---------+
|id_producto|            nombre|categoria|
+-----------+------------------+---------+
|         31|        fideo laso|       10|
|         32|        fideo codo|       10|
|         33|    fideo macarron|       10|
|         34|        Arroz Roma|       11|
|         35|        Arroz Ribe|       11|
|         36|    Arroz integral|       11|
|         37|Sardinas enlatadas|       12|
|         38|     Atún enlatado|       12|
|         39|Duraznos enlatados|       12|
|         40|    Maíz enlatados|       12|
+-----------+------------------+---------+

+------------+-------------------+
|id_Categoria|             nombre|
+------------+-------------------+
|          10|             Pastas|
|          11|              Arroz|
|          12|Productos enlatados|
+------------+-------------------+

In [49]:
#Realiza una consulta SQL para obtener la suma de la cantidad vendida por producto y categoría.
resultado = spark.sql("SELECT productos.nombre AS producto, categorias.nombre AS categoria, SUM(ventas.cantidad) AS cantidad_total FROM ventas \
                      JOIN productos ON ventas.id_producto = productos.id_Producto \
                      JOIN categorias ON productos.categoria = categorias.id_Categoria \
                      GROUP BY productos.nombre, categorias.nombre")
resultado.show()

+------------------+-------------------+--------------+
|          producto|          categoria|cantidad_total|
+------------------+-------------------+--------------+
|        Arroz Ribe|              Arroz|           7.0|
|     Atún enlatado|Productos enlatados|           3.0|
|        fideo laso|             Pastas|           3.0|
|Duraznos enlatados|Productos enlatados|           9.0|
|    fideo macarron|             Pastas|           5.0|
|    Maíz enlatados|Productos enlatados|           9.0|
|Sardinas enlatadas|Productos enlatados|           4.0|
|        Arroz Roma|              Arroz|           6.0|
|        fideo codo|             Pastas|           5.0|
|    Arroz integral|              Arroz|           6.0|
+------------------+-------------------+--------------+

In [40]:
#Combina "ventas_df" y "productos_df" utilizando el método union() para obtener un único DataFrame que contenga todas las ventas y productos.

# Agrega una columna adicional a "productos_df" con valores nulos para que coincida con la estructura de "ventas_df ya que necesitan ser iguales"
productosdf = productosdf.withColumn("id_venta", lit(None))

# Combina "ventas_df" y "productos_df" utilizando el método union()
ventas_productos_df = ventasdf.union(productosdf)

# Muestra el DataFrame resultante
ventas_productos_df.show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|10-06-2023|
|     311|         31|       1|11-06-2023|
|     320|         32|       3|12-06-2023|
|     321|         32|       2|13-06-2023|
|     330|         33|       4|14-06-2023|
|     331|         33|       1|15-06-2023|
|     340|         34|       2|16-06-2023|
|     341|         34|       4|17-06-2023|
|     350|         35|       2|18-06-2023|
|     351|         35|       5|19-06-2023|
|     360|         36|       4|20-06-2023|
|     361|         36|       2|21-06-2023|
|     370|         37|       1|22-06-2023|
|     371|         37|       3|23-06-2023|
|     380|         38|       1|24-06-2023|
|     381|         38|       2|25-06-2023|
|     390|         39|       3|26-06-2023|
|     391|         39|       6|27-06-2023|
|     400|         40|       5|28-06-2023|
|     401|         40|       4|29-06-2023|
+--------+-----------+--------+----------+
only showing top 20 rows